body {
	background-color: #383636; 
	position: absolute;
	width: 100%;
	font-family: 'Oxygen', sans-serif;
	font-size: 16px;
	color: #2B2B2B;
}

#gplus {
	float: right;
	margin: 5px -20px 0 0;
}

h1 {
	color: white;
	padding: 0 10px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 28px;
}

h2 {
	margin: 5px 0;
	font-size: 16px;
	white-space: nowrap; 
	overflow: hidden;
    text-overflow: ellipsis; 

    @media screen and (min-width: 500px) {
		margin: 10px 0;
		font-size: 20px;}
}

a, [ng-click] {
	color: #1D1688;
}

p { line-height: 1.5em; }

#main {
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;  

    #content {
		background-color: #fff;
	}

    ul li {
		border-bottom: 1px solid #e0e0e0;
		width: 100%;
		height: 5%;
		display: flex;
		padding: 10px;
	}	
}

.crop {
	width: 120px;
    height: 100px;
    overflow: hidden;
    float: left;

    img {
    	position: relative;
		display: block;
	   	margin-left: 50%;
	   	margin-top: 50%;
	   	@include transform(translateY(-50%) translateX(-50%));
	}
}


.meta-data {
	width: 70%;
	padding: 0 10px;

	h2 { cursor: pointer;}

	.meta-block2 {
		display: block;

		@media screen and (max-width: 399px) {
			width: 160px;
			font-size: 14px;
		}
	}
	.meta-block1 { display: none; }
}


#post-details {
	padding: 10px 20px;

	.post-data {
		margin-bottom: 20px;

		h2, p {
			width: 100%;
			text-align: center; }

		.back {
			@include back_button(relative, 34px, 80px);
			@include border-radius(0 4px 4px 0);
			float:right;
		    margin:10px;
		    color: white;
		    text-align:center;
		    font-size: 22px;
		    vertical-align: middle;		    
		    cursor: pointer;

		    &:before {
		    	@include back_button(absolute, 26px, 26px);
		    	@include border-radius(4px);
			    @include transform;
			    content:'';
			    top: 4px;
			    left:-14px; }
		}
	}

	.post-description {
		.crop, .crop img {
			display: none; }

		p {			
			padding: 0 0 14px 20px; 

			@media screen and (min-width: 600px) {
				float: right;
				width: 70%;
			}
			@media screen and (min-width:800px) {
				float: right;
				width: 80%;
				padding-left: 0;
			}
		}
	}
}

@media screen and (min-width: 600px) {
	#post-details {
		.post-data {
			h2, p {
				float: left;
				text-align: left; }
			h2 {
				width: 70%;
				font-size: 26px; }
		}

		.post-description {
			.crop {
				display: block;
				width: 150px;
				height: 120px;
				margin-top: 5px; 
				margin-left: 5px;

				img {
					display: block; }
			}
		}
	}
}

@media screen and (min-width: 800px) {
	.meta-data {
		width: 80%;
		padding: 0 20px;

		.meta-block2 {
			display: none;}
		.meta-block1 {
			display: block;}
	}
}

